#radial {
  position:absolute;
  top:50%;
  left:50%;
}

#radial.hidden {
  display:none;
}

#radial ol {
  position:relative;
  width:400px;
  height:400px;
}

#radial li {
  position:absolute;
  white-space:nowrap;
}
